extends layout

block content
  .row
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-globe.text-warning
            .col-7.col-md-8
              .numbers
                p.card-category Capacity
                p.card-title
                  | 150GB
                p
        .card-footer
          hr
          .stats
            i.fa.fa-refresh
            |  Update Now
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-money-coins.text-success
            .col-7.col-md-8
              .numbers
                p.card-category Revenue
                p.card-title
                  | $ 1,345
                p
        .card-footer
          hr
          .stats
            i.fa.fa-calendar-o
            |  Last day
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-vector.text-danger
            .col-7.col-md-8
              .numbers
                p.card-category Errors
                p.card-title
                  | 23
                p
        .card-footer
          hr
          .stats
            i.fa.fa-clock-o
            |  In the last hour
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-favourite-28.text-primary
            .col-7.col-md-8
              .numbers
                p.card-category Followers
                p.card-title
                  | +45K
                p
        .card-footer
          hr
          .stats
            i.fa.fa-refresh
            |  Update now
  .row
    .col-md-12
      .card
        .card-header
          h5.card-title Users Behavior
          p.card-category 24 Hours performance
        .card-body
          canvas#chartHours(width='400', height='100')
        .card-footer
          hr
          .stats
            i.fa.fa-history
            |  Updated 3 minutes ago
  .row
    .col-md-4
      .card
        .card-header
          h5.card-title Email Statistics
          p.card-category Last Campaign Performance
        .card-body
          canvas#chartEmail
        .card-footer
          .legend
            i.fa.fa-circle.text-primary
            |  Opened
            i.fa.fa-circle.text-warning
            |  Read
            i.fa.fa-circle.text-danger
            |  Deleted
            i.fa.fa-circle.text-gray
            |  Unopened
          hr
          .stats
            i.fa.fa-calendar
            |  Number of emails sent
    .col-md-8
      .card.card-chart
        .card-header
          h5.card-title NASDAQ: AAPL
          p.card-category Line Chart with Points
        .card-body
          canvas#speedChart(width='400', height='100')
        .card-footer
          .chart-legend
            i.fa.fa-circle.text-info
            |  Tesla Model S
            i.fa.fa-circle.text-warning
            |  BMW 5 Series
          hr
          .card-stats
            i.fa.fa-check
            |  Data information certified
  script.
    $(document).ready(() => {
      demo.initChartsPages();
    });
