extends layout

block content
  .row
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-single-02.text-warning
            .col-7.col-md-8
              .numbers
                p.card-category Usuarios
                p.card-title=totalPlayers
                p
        .card-footer
          hr
          .stats
            i.fa.fa-refresh
            |  Update Now
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-bank.text-success
            .col-7.col-md-8
              .numbers
                p.card-category Sucursales BBVA
                p.card-title
                  | 1,794
                p
        .card-footer
          hr
          .stats
            i.fa.fa-calendar-o
            |  Actualizado: 14/10/2018
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-vector.text-danger
            .col-7.col-md-8
              .numbers
                p.card-category Animales Instanciados
                p.card-title
                  | 467
                p
        .card-footer
          hr
          .stats
            i.fa.fa-clock-o
            |  Actualizado hace 5 minutos
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-body
          .row
            .col-5.col-md-4
              .icon-big.text-center.icon-warning
                i.nc-icon.nc-favourite-28.text-primary
            .col-7.col-md-8
              .numbers
                p.card-category Animales Rescatados
                p.card-title
                  | 338
                p
        .card-footer
          hr
          .stats
            i.fa.fa-refresh
            |  Actualizado hace 5 minutos
  .row
    .col-md-12
      .card
        .card-header
          h5.card-title Status de Juego
          p.card-category Últimas 24 horas de comportamiento
        .card-body
          canvas#chartHours(width='400', height='100')
        .card-footer
          .chart-legend
            i.fa.fa-circle.text-info
            |  Animales Relocados
            i.fa.fa-circle.text-warning
            |  Animales Entregados
          hr
          .stats
            i.fa.fa-history
            |  Actualizado hace 32 minutos
  .row
    .col-md-4
      .card
        .card-header
          h5.card-title Animales Instanciados
          p.card-category Status Actual de los Animales
        .card-body
          canvas#chartEmail
        .card-footer
          .legend
            i.fa.fa-circle.text-primary
            |  Entregados
            i.fa.fa-circle.text-warning
            |  Vistos
            i.fa.fa-circle.text-danger
            |  Almacenados
            i.fa.fa-circle.text-gray
            |  Sin ver
          hr
          .stats
            i.fa.fa-calendar
            |  Datos para: 14/10/2018
    .col-md-8
      .card.card-chart
        .card-header
          h5.card-title Interacciones
          p.card-category Interacciones de las últimas 24 horas
        .card-body
          canvas#speedChart(width='400', height='100')
        .card-footer
          .chart-legend
            i.fa.fa-circle.text-info
            |  Animales Relocados
            i.fa.fa-circle.text-warning
            |  Animales Entregados
  script.
    $(document).ready(() => {
      demo.initChartsPages();
    });
