extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Iniciar Sesión
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Correo Electrónico
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Correo Electrónico', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Contraseña
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Contraseña', autocomplete='current-password', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.col-md-3.btn.btn-primary(type='submit')
          i.far.fa-user.fa-sm
          | Iniciar Sesión
        a.btn.btn-link(href='/forgot') ¿Olvidaste tu contraseña?
