footer
  .container.text-center
    p.float-left © 2018 VR3. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/VR3/bbva-game-jam') GitHub Project
      li.list-inline-item
        a(href='https://vr3.io') VR3 Homepage
