extends layout

block content
  h1 Finimals
  p.lead A Game Controller by
    a(href="https://vr3.io", target="_blank")  VR3
  hr
  .row
    .col-md-6
      h2 BBVA Bancomer Game Jam project
      p Este es el panel de administración para el juego "Finimals" desarrollado por
        a(href="https://vr3.io")  VR3
        |  para el Game Jam de
        b  BBVA Bancomer.
      p
        a.btn.btn-raised(href='/login', role='button') Iniciar Sesión »