extends layout

block content
  h1 BBVA Game Jam
  p.lead A Game Controller by
    a(href="https://vr3.io", target="_blank")  VR3
  hr
  .row
    .col-md-6
      h2 Game Control
      p This is the admin panel for the game developed by VR3 for the BBVA Bancomer Game Jam.
      p
        a.btn.btn-raised(href='https://bancomer.com', role='button', target="_blank") View details »