extends ../layout

block content
  .row
    .col-md-12
      .card.card-user
        .card-header
          h5.card-title Registrar nuevo Hábitat
          a.btn.btn-info(href="/habitats") Regresar
        .card-body
          form(method="POST", action='/habitats')
            input(type='hidden', name='_csrf', value=_csrf)
            .row
              .col-md-6.pr-1
                .form-group
                  label Nombre
                  input.form-control(type='text', name="name", placeholder='Hábitat increíble')
            .row
              .col-md-12
                .form-group
                  label Descripción
                  textarea.form-control.textarea(name="description", placeholder='Este es un hábitat súper padre porque tiene animales y muchas especies endémicas y así')
            .row
              .update.ml-auto.mr-auto
                button.btn.btn-primary.btn-round(type='submit') Registrar Hábitat
