footer.footer.footer-black.footer-white
  .container-fluid
    .row
      nav.footer-nav
        ul
          li
            a(href='https://bancomer.com', target='_blank') BBVA Bancomer
          li
            a(href='http://vr3.io', target='_blank') VR3
          li
            a(href='https://www.creative-tim.com/license', target='_blank') Licencia de Uso
      .credits.ml-auto
        span.copyright
          | ©
          script.
            document.write(new Date().getFullYear())
          | , hecho con
          i.fa.fa-heart.heart
          |  por VR3